img.logo(src="../images/logo/logo.png", alt="")

ul.main-menu
    li.main-menu__item
        a.main-menu__link(href="#") Men
            span.icon-Right-copy-5.size-icon
        .dropdown-content
            ul.dropdown-menu
                li.dropdown-menu__item
                    a.dropdown-menu__link Bags
                li.dropdown-menu__item
                    a.dropdown-menu__link Belts
                li.dropdown-menu__item
                    a.dropdown-menu__link Hats, Scarves & Gloves
                li.dropdown-menu__item
                    a.dropdown-menu__link Sunglasses
                li.dropdown-menu__item
                    a.dropdown-menu__link Watches
                li.dropdown-menu__item
                    a.dropdown-menu__link Wallets
                li.dropdown-menu__item
                    a.dropdown-menu__link Boat Shoes
                li.dropdown-menu__item
                    a.dropdown-menu__link Boots
                li.dropdown-menu__item
                    a.dropdown-menu__link Deserts & Chukkas
                li.dropdown-menu__item
                    a.dropdown-menu__link Espadrilles & Sandals
                li.dropdown-menu__item
                    a.dropdown-menu__link Flip Flops
                li.dropdown-menu__item
                    a.dropdown-menu__link Bags
                li.dropdown-menu__item
                    a.dropdown-menu__link Belts
                li.dropdown-menu__item
                    a.dropdown-menu__link Hats, Scarves & Gloves
                li.dropdown-menu__item
                    a.dropdown-menu__link Sunglasses
                li.dropdown-menu__item
                    a.dropdown-menu__link Watches
                li.dropdown-menu__item
                    a.dropdown-menu__link Wallets
                li.dropdown-menu__item
                    a.dropdown-menu__link Boat Shoes
                li.dropdown-menu__item
                    a.dropdown-menu__link Boots
                li.dropdown-menu__item
                    a.dropdown-menu__link Deserts & Chukkas
                li.dropdown-menu__item
                    a.dropdown-menu__link Espadrilles & Sandals 
    li.main-menu__item
        a.main-menu__link(href="#") Women
            span.icon-Right-copy-5.size-icon
        .dropdown-content
            ul.dropdown-menu
                li.dropdown-menu__item
                    a.dropdown-menu__link Bags
                li.dropdown-menu__item
                    a.dropdown-menu__link Belts
                li.dropdown-menu__item
                    a.dropdown-menu__link Hats, Scarves & Gloves
                li.dropdown-menu__item
                    a.dropdown-menu__link Sunglasses
                li.dropdown-menu__item
                    a.dropdown-menu__link Watches
                li.dropdown-menu__item
                    a.dropdown-menu__link Wallets
                li.dropdown-menu__item
                    a.dropdown-menu__link Boat Shoes
                li.dropdown-menu__item
                    a.dropdown-menu__link Boots
                li.dropdown-menu__item
                    a.dropdown-menu__link Deserts & Chukkas
    li.main-menu__item
        a.main-menu__link(href="#") Kids
            span.icon-Right-copy-5.size-icon
        .dropdown-content
            ul.dropdown-menu
                li.dropdown-menu__item
                    a.dropdown-menu__link Bags
                li.dropdown-menu__item
                    a.dropdown-menu__link Belts
                li.dropdown-menu__item
                    a.dropdown-menu__link Hats, Scarves & Gloves
                li.dropdown-menu__item
                    a.dropdown-menu__link Sunglasses
                li.dropdown-menu__item
                    a.dropdown-menu__link Watches
                li.dropdown-menu__item
                    a.dropdown-menu__link Wallets
                li.dropdown-menu__item
                    a.dropdown-menu__link Boat Shoes
                li.dropdown-menu__item
                    a.dropdown-menu__link Boots
                li.dropdown-menu__item
                    a.dropdown-menu__link Deserts & Chukkas
                li.dropdown-menu__item
                    a.dropdown-menu__link Espadrilles & Sandals
                li.dropdown-menu__item
                    a.dropdown-menu__link Flip Flops
    li.main-menu__item
        a.main-menu__link(href="#") Accessories
            span.icon-Right-copy-5.size-icon
        .dropdown-content
            ul.dropdown-menu
                li.dropdown-menu__item
                    a.dropdown-menu__link Bags
                li.dropdown-menu__item
                    a.dropdown-menu__link Belts
                li.dropdown-menu__item
                    a.dropdown-menu__link Hats, Scarves & Gloves
                li.dropdown-menu__item
                    a.dropdown-menu__link Sunglasses
                li.dropdown-menu__item
                    a.dropdown-menu__link Watches
                li.dropdown-menu__item
                    a.dropdown-menu__link Wallets
                li.dropdown-menu__item
                    a.dropdown-menu__link Boat Shoes
                li.dropdown-menu__item
                    a.dropdown-menu__link Boots
                li.dropdown-menu__item
                    a.dropdown-menu__link Deserts & Chukkas
                li.dropdown-menu__item
                    a.dropdown-menu__link Espadrilles & Sandals
                li.dropdown-menu__item
                    a.dropdown-menu__link Flip Flops
                li.dropdown-menu__item
                    a.dropdown-menu__link Flip Flops
    li.main-menu__item
        a.main-menu__link(href="#") Sale
    li.main-menu__item
        a.main-menu__link(href="#") LookBook
    li.main-menu__item
        a.main-menu__link(href="#") Blog

.search
    form(action="#")
        input(type="text", placeholder="Search").form-control.search__input
        input(type="submit", value!="&#xe907;").search__button

.location
    span.icon-location-pin-copy.size-pin
    a(href="#").location__link Uzbekistan / $