
.headerInner.wrapper__headerInner
    ul.category.headerInner__category
        li.categoryItem
            a(href="#").categoryLink Home /
        li.categoryItem
            a(href="#").categoryLink Men /
    span.categoryTitle.headerInner__categoryTitle men
    .headerInner-title Polo Shirts
.tabWrap
    .filter
        .filterSidebar.filter__filterSidebar
            button.sidebarBtn.filterSidebar__sidebarBtn.span.icon-sliders
                span.sidebarBtn_text Filter
            span.sidebarFound 34 items found
        .filterContent
            span.sidebarFound Sort by
            .sort
                input#sort1(type="radio", name="sort").sortInput.sort__sortInput
                label(for="sort1", class="sortLable") Price
                    span.sortIcon.span.icon-uniE90F
                input#sort2(type="radio", name="sort" checked="").sortInput.sort__sortInput
                label(for="sort2", class="sortLable") Name
                    span.sortIcon.span.icon-data-transmission-bottom
                input#sort3(type="radio", name="sort").sortInput.sort__sortInput
                label(for="sort3", class="sortLable") Date
                    span.sortIcon.span.icon-uniE90F
            ul.filterList.filterContent__filterList.tabs
                li.filterList-item.filterList__filterList-item.active
                    a(href="#tab_1").filterList-link
                        span.icon-list-2
                li.filterList-item.filterList__filterList-item
                    a(href="#tab_2").filterList-link
                        span.icon-list
    .boxMain
        .sidebar.boxMain__sidebar

        .content
            .boxTab-count
                .tabCount#tab_1 111111
                .tabCount.hideTabs#tab_2 222222

    