extends ../_template



block variables
  - var title = 'Главная страница'
  - var desc = 'Монтаж профи'

block content
  header.header
    include ../common/header
  main.main
    include ../common/main
    




