@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?2jrkw3');
  src:  url('./fonts/icomoon.eot?2jrkw3#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?2jrkw3') format('truetype'),
    url('./fonts/icomoon.woff?2jrkw3') format('woff'),
    url('./fonts/icomoon.svg?2jrkw3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
}
.icon-caret:before {
  content: "\e901";
}
.icon-data-transmission-bottom:before {
  content: "\e902";
}
.icon-heart-plus:before {
  content: "\e903";
}
.icon-uniE904:before {
  content: "\e904";
}
.icon-uniE905:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-minus:before {
  content: "\e907";
}
.icon-pin:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-reload:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-sliders:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-uniE90E:before {
  content: "\e90e";
}
.icon-uniE90F:before {
  content: "\e90f";
}
.icon-list-2:before {
  content: "\e910";
}
.icon-list:before {
  content: "\e911";
}
.icon-bag:before {
  content: "\e912";
}
.icon-basket:before {
  content: "\e913";
}
.icon-uniE914:before {
  content: "\e914";
}
.icon-uniE915:before {
  content: "\e915";
}
.icon-gear:before {
  content: "\e916";
}
.icon-heart:before {
  content: "\e917";
}
.icon-power:before {
  content: "\e918";
}
